<section id="keywords"> 
    <h1 class="text-center">{{ 'landing.keywords.catch_phrase'|trans }}
    </h1>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <img src="{{ asset("/img/terre-15b.png")}}" alt="Voyager" />
                    <div class="small-screen">&nbsp</div>
                    <h2>{{ 'landing.keywords.titles.0'|trans }}</h2>
                    <p>{{ 'landing.keywords.descriptions.0'|trans }}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <img src="{{ asset("/img/map-15r.png")}}" alt="Organiser" />
                    <div class="small-screen">&nbsp</div>
                    <h2>{{ 'landing.keywords.titles.1'|trans }}</h2>
                    <p>{{ 'landing.keywords.descriptions.1'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <img src="{{ asset("/img/partage-15j.png")}}" alt="Partager" />
                    <div class="small-screen">&nbsp</div>
                    <h2>{{ 'landing.keywords.titles.2'|trans }}</h2>
                    <p>{{ 'landing.keywords.descriptions.2'|trans }}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="feature">
                    <img src="{{ asset("/img/dreamcatcher-15b.png")}}" alt="Rêver" />
                    <div class="small-screen">&nbsp</div>
                    <h2>{{ 'landing.keywords.titles.3'|trans }}</h2>
                    <p>{{ 'landing.keywords.descriptions.3'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</section>